html {
    height: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    overflow-y: scroll;
    word-wrap: break-word;
    word-break: break-all;
    background-color: black;
    color: lightgrey;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    cursor: text;
}

span {
    white-space: pre;
}
